@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background: #c9e7f1;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to bottom, #fff, #076585); 
    background: linear-gradient(to bottom, #fff, #076585);  */

}

i, img{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}

.workspace{
    width: 100vw;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    user-select: none;
}

.nav-for-search-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
}
.nav-for-search-page input{
    width: 250px;
}

nav img{
    width: 120px;
    height: 70px;
}

.favourites{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.favourites span{
    font-size: 10px;
}
.search{
    position: relative;
    /* width: 400px; */
}
.search input {
    padding: 5px 8px;
    border: 2px solid lightgray;
    border-radius: 15px;
    outline: none;
    /* width: 400px; */
}
.search a{
    position: absolute;
    border: none;
    background: none;
    right: 5%;
    top: 20%;
    color: #DDA448;
    cursor: pointer;
}

.categories{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 10px;
}

.titles {
    margin-bottom: 7px;
    padding: 4px;
    letter-spacing: 1px;
    font-weight: 500;
}

.categories-container{
    display: flex;
    overflow-x:auto ;
   padding: 4px;
   user-select: none;
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 0.1); /* Thumb and track color */
}
/* Targeting the scrollbar of a div with class "custom-scroll" */
.categories-container::-webkit-scrollbar {
    width: 6px; /* Thin scrollbar */
}

.categories-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Slightly transparent */
    border-radius: 3px; /* Rounded edges */
}

.categories-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Slight transparency */
}

.categories-item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3px;
      text-align: center;
}
.categories-item img{
    user-select: none;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    /* border: 4px solid lightgray; */
    background: -webkit-linear-gradient(to right, #d3cce3, #e9e4f0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d3cce3, #e9e4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-left: 15px;
}

.meal{
    background-color: white;
    margin: 10px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column; overflow: hidden;
    height: 300px;
    justify-content: space-between;
    box-shadow: 0px 0px 45px 13px rgba(111,177,201,0.75);
    -webkit-box-shadow: 0px 0px 45px 13px rgba(111,177,201,0.75);
    -moz-box-shadow: 0px 0px 45px 13px rgba(111,177,201,0.75);

}

.meal a   {
    width: 100%;
    height: 80%;
}
.meal a img , .fav-meal a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.random-meals, .favourite-foods, .filtered-meals{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,350px);
    justify-content: center;
}

.name-favourite{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 15px;
}

.name-favourite i{
    color: red;
}

.name-favourite p {
    text-wrap: no;
}






.empty-favourite{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.empty-favourite h3 {
    letter-spacing: 1px;
}

.empty-favourite button {
    letter-spacing: 1px;
    padding: 8px;
    border: none;
    border-radius:10px ;
    background-color: #8D6A9F;
    cursor: pointer;
}






.no-results-found-msg{
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: 400;
}

.searched-recipe{
    display: grid;
    grid-template-columns: repeat(1,90%);
    justify-content: center;
    gap: 10px;
}

.searched-item{
    overflow: hidden;
    display: flex;
    border-radius: 1rem;
    position: relative;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 0px 45px 13px rgba(111,177,201,0.75);
    -webkit-box-shadow: 0px 0px 45px 13px rgba(111,177,201,0.75);
    -moz-box-shadow: 0px 0px 45px 13px rgba(111,177,201,0.75);
}
.searched-item i{
    position: absolute;
    top: 45%;
    right: 3%;
}
.searched-item a{
    height: 100%;
}

.searched-item div{
    height: 100%;
    display: flex;
    align-items: center;
}

.searched-recipe div p{
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
    overflow: hidden; 
}


.searched-item img{
    height: 100%;
    width: 120px;
}






.recipe{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    /* background-color: #91EAE4; */
    margin: 20px;
    border-radius: 10px;
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   box-shadow: 0px 0px 28px 7px rgba(39,149,190,0.75);
    -webkit-box-shadow: 0px 0px 28px 7px rgba(39,149,190,0.75);
    -moz-box-shadow: 0px 0px 28px 7px rgba(39,149,190,0.75);
    }

.name-img{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;  
}
.name-img h3{
    letter-spacing: 2px;
}
.name-img img{
    border-radius: 20px;  
}

.ingredients-req p, .instruction p{
    font-size: 13px;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.yt-link img{
    width: 100px;
}
